.edit-page {
    max-width: 800px;
    margin: auto;
    padding: 2rem;
}

.edit-page form {
    background: var(--sec-black);
    padding: 2rem;
    border-radius: 12px;
    box-shadow: var(--shadow);
}

.edit-page img {
    margin-top: 10px;
    border-radius: 8px;
    max-width: 100%;
}